node_modules/
dist/
*.log
.DS_Store
*.sock
.env
.env.local
.claude/
.idea/
plan.md
/coverage/
tests/coverage/reports/
tests/integration/resources/dependency-artifacts/
tests/unit/.integrate-git-repos/
.eslintcache
